* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
}

.container {
    width: 1140px;
    margin: auto;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
}

img {
    max-width: 100%;
    display: block;
}

P {
    font-size: 16px;
    color: #3E3E3E;
    line-height: 26px;
    font-weight: 400;
}



/* Navigation Menu Start */
nav {
    padding: 30px 0;
    border-bottom: 1px solid #ff82663d;
}

nav ul {
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 38px;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #3C3C3C;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

nav ul li a:hover {
    color: #FF8367;
}

/* Navigation Menu End */


/* Introducing Section Start */

.introduce-section {
    padding: 40px 0 70px 0;
}

.introduce-content {
    width: 50%;
    float: left;
    margin-top: 50px;
}

.introduce-content h1 {
    color: #FF8367;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 500;
}

.introduce-content h1:first-child {
    color: #363958;
    margin-bottom: -24px;
}

.introduce-content p {
    margin-top: 24px;
    margin-bottom: 40px;
}

.introduce-content span {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #FF8367;
}

.custom-btn {
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    padding: 18px 44px;
    color: #fff;
    background: linear-gradient(180deg, #fd5d5df5, #fd9179);
    display: inline-block;
    border-radius: 6px;
}

.custom-btn:hover {
    background: #fd9179;
}

.introduce-img {
    width: 50%;
    float: left;
}

.introduce-img img {
    width: 90%;
    margin-left: auto;
}

/* Introducing Section End */

/* About Section Start */
.about-section {
    padding-bottom: 70px;
}

.about-img {
    width: 50%;
    float: left;
}

.about-img img {
    width: 90%;
    margin-right: auto;
}

.about-content {
    margin-top: 50px;
}

.about-content h2 {
    color: #363958;
    font-size: 48px;
    font-weight: 500;
}

.about-content span {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #FF8367;
}

.about-content p {
    margin: 40px 0;
}


.about-content .custom-btn i {
    padding-right: 5px;
}


/* About Section End */


/* Work Section Start */
.work-section {
    background: #F8F9FC;
    padding: 100px 0;
    text-align: center;
}

.work-section h2 {
    color: #363958;
    font-size: 48px;
    font-weight: 500;
}

.work-section h2 span {
    color: #ff8367;
}

.work-section>.container>span {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #FF8367;
}

.works-area {
    margin-top: 60px;
}

.work {
    float: left;
    width: 33.33%;
    padding: 0 15px;

}

.work-bg {
    background: #fff;
    padding: 16px;
    border-radius: 18px;
    margin-bottom: 25px;
    box-shadow: 0 6.85px 20px hsla(0, 0%, 0%, 0.103);
}

.work-bg h4 {
    font-size: 24px;
    color: #363958;
    font-weight: 700;
    padding: 25px 0 10px 0;
    text-align: left;
    font-family: 'Roboto';
}

.work-bg p {
    color: #6C6C6C;
    padding-bottom: 10px;
    text-align: left;
}

/* Work Section End */

/* Work Inquiry Section Start */
.work-inquiry-section {
    background: url(../images/work-inquiry-bg.png);
    background-repeat: no-repeat;
    padding: 200px 0;
    background-position: center;
    background-size: 70%;
}

.work-inquiry-content {
    width: 70%;
    margin: auto;
    padding-top: 14px;
}

.work-inquiry-content h1 {
    float: left;
    font-size: 64px;
    color: #fff;
    font-weight: 500;
}

.work-inquiry-content .custom-btn {
    float: right;
    margin-top: 11px;
}


/* Work Inquiry Section End */


/* My Blog Section Start */
.skill-section {
    background: #F8F9FC;
    padding: 100px 0;
    text-align: center;
}

.skill-section h2 {
    color: #363958;
    font-size: 48px;
    font-weight: 500;
}

.skill-section h2 span {
    color: #ff8367;
}

.skill-section>.container>p {
    width: 70%;
    color: #6C6C6C;
    margin: auto;
    padding: 30px;
}

.skill-section>.container>span {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #FF8367;
}


.skill {
    width: 33.33%;
    text-align: left;
    padding: 15px;
    float: left;
}

.skill-bg {
    border: 1px solid #3639581f;
    border-radius: 6px;
    padding: 30px 20px;
}

.skill-bg:hover {
    box-shadow: 0 6px 18px #220d0d1e;
}

.skill-bg>h3:hover {
    color: #ff8367;
}

.skill h3 {
    color: #363958;
    font-size: 32px;
    font-weight: 500;
}

.skill p {
    font-size: 15px;
    line-height: 24px;
    color: #6C6C6C;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skill a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #363958;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.skill a:hover {
    color: #3547ff;
}

/* My Blog Section End */



/* Social Section Start */
.social-section {
    text-align: center;
    padding: 80px 0;
}

.social-section h5 {
    font-size: 24px;
    font-weight: 500;
    color: #696871;
    margin-bottom: 18px;
}

.social-section span {
    color: #363958;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 26px;
    display: inline-block;
}


.social-section ul li {
    list-style: none;
    display: inline-block;
    margin: 0 6px;
}

.social-section ul li a {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    line-height: 44px;
    color: #fff;
    font-size: 20px;
}

a.dribbble {
    background: #ea4c89;
    border: 1px solid #ea4c89;
}

a.dribbble:hover {
    background: #ffffff;
    border: 1px solid #ea4c89;
    color: #ea4c89;
}


a.behance {
    background: #053eff;
    border: 1px solid #053eff;
}

a.behance:hover {
    background: #ffffff;
    border: 1px solid #053eff;
    color: #053eff;
}

a.instagram {
    background-image: linear-gradient(45deg, #515BD4, #8134af, #DD2A7B);
    border: 1px solid #8134af;
}

a.instagram:hover {
    background: #ffffff;
    border: 1px solid #8134af;
    color: #8134af;
}

/* Social Section End */


/* Footer Section Start */
footer {
    padding: 30px 0;
    background: #F8F9FC;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #9c9c9c;
    letter-spacing: .95px;
}

/* Footer Section End */